.root {
    background-color: rgb(var(--venia-global-color-background));
    color: rgb(var(--venia-global-color-text));
    position: relative;
    z-index: 1;
}

.root_masked {
    composes: root;
}

.page {
    margin: 0 auto;
    max-width: var(--venia-global-maxWidth);
    min-height: 40rem;
}

.page_masked {
    composes: page;
}

@media (min-height: 640px) {
    .page {
        min-height: 48rem;
    }
}

@media (min-height: 768px) {
    .page {
        min-height: 60rem;
    }
}

@media (min-height: 960px) {
    .page {
        min-height: 72rem;
    }
}

/*custom style for home page*/

.page {
    max-width: none;
}

.title {
    font-size: 26px;
    font-weight: 700;
    color: var(--drexel-theme-color);
    margin: 50px auto;
    text-align: center;
}

:global .swiper-wrapper > .swiper-slide.clearance {
    background-image: url(./home3.jpg);
    height: 800px;
}

:global .swiper-wrapper > .swiper-slide.armchair {
    background-image: url(./home4.jpg);
    height: 800px;
}
