.root {
    display: block;
    position: relative;
    touch-action: pan-y;
    user-select: none;
    --leftViewportElement: -99999px;
}

.bannerRoot {
    composes: root from '~@magento/pagebuilder/lib/ContentTypes/Banner/banner.css';
    min-height: inherit;
}
.bannerLink {
    composes: link from '~@magento/pagebuilder/lib/ContentTypes/Banner/banner.css';
    min-height: inherit;
}
.bannerWrapper {
    composes: wrapper from '~@magento/pagebuilder/lib/ContentTypes/Banner/banner.css';
    min-height: inherit;
}
.bannerPosterOverlay {
    composes: posterOverlay from '~@magento/pagebuilder/lib/ContentTypes/Banner/banner.css';
    min-height: inherit;
}

:global .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: transparent;
    border: 2px solid var(--drexel-theme-color);
    border-radius: 0;
    box-sizing: border-box;
    height: 10px;
    opacity: 1;
    width: 10px;
}

:global .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active,
:global .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:hover {
    background-color: var(--drexel-theme-color);
}

